.brandCarousel .swiper {
  width: 100%;
  height: 100%;
}

.brandCarousel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px !important;
}

.brandCarousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brandCarousel .swiper-wrapper {
  background: #e2e8f0;
  margin-bottom: 40px !important;
}

@media not all and (min-width: 768px) {
  .brandCarousel .swiper-wrapper {
    margin-bottom: 20px !important;
  }
}

.brandCarousel .swiper-pagination-bullet {
  height: 10px !important;
  width: 12px !important;
}
